<table id="detail">
  <tr>
    <th colspan="2">Puppet Node: <%= @detail["node"] %></th>
  </tr>
  <tr>
    <td class="sh">Name</td><td><%= @detail["node"] %></td>
  </tr>
  <tr>
    <td class="sh">Time</td><td><%= @detail["time"] %></td>
  </tr>
  <tr>
    <td class="sh">Run type</td><td><%= @detail["kind"] %></td>
  </tr>
  <tr>
    <td class="sh">Status</td><td><%= @detail["status"] %></td>
  </tr>
</table>

<br />

<table id="metrics">
  <tr>
    <th colspan="2">Metrics</th>
  </tr>
  <tr>
    <td class="sh">Metric</td><td class="sh">Value</td>
 <% @metrics.each do |metric,value| %>
   <tr>
     <td class="mt"><%= metric.capitalize %></td><td class="mtv"><%= value %></td>
   </tr>
 <% end %>
</table>
