<table>
  <tr>
    <th colspan="3">Puppet Nodes</th>
  </tr>
  <tr>
    <td class="sh">Time</td>
    <td class="sh">Node</td>
    <td class="sh">Status</td>
  </tr>
  <% @sorted.each do |node| %>
    <% if node["status"] == 'failed' %>
      <tr class="<%= cycle %>" style="color:red;font-weight:bold">
    <% else %>
      <tr class="<%= cycle %>">
      <% end %>
        <td><%= node["time"] %></td>
        <td><%= node["node"] %></td>
        <td><%= node["status"] %></td>
      </tr>
  <% end %>
</table>
